*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -khtml-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}
#playfield{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat( 4, 100px);
    top: 100px;
    left: 25%;
    max-width: 80%;
    height: 400px;
    background: white;
    border: 1px solid black;
}
.back{
    position: relative;
    width: 100px;
    height: 100px;
    background: gray;
}
.thing{
    position: relative;
    width: 100px;
    height: 100px;
    background: transparent;
    color: black;
    text-align: center;
    font: 48px/96px Arial;
}
.thing.t2{
    background: #18df00;
}
.thing.t2:after{
    content: '2'
}
.thing.t4{
    background: #5a9900;
}
.thing.t4:after{
    content: '4'
}
.thing.t8{
    background: #8c8e00;
}
.thing.t8:after{
    content: '8'
}
.thing.t16{
    background: #d38200;
}
.thing.t16:after{
    content: '16'
}
.thing.t32{
    background: #ae3900;
}
.thing.t32:after{
    content: '32'
}
.thing.t64{
    background: #931269;
}
.thing.t64:after{
    content: '64'
}
.thing.t128{
    background: #0a034c;
}
.thing.t128:after{
    content: '128'
}